extends index.pug
block static_content
    link(href='/static/css/XMLcombiner.css', rel='stylesheet')
block main_content
    .col-md-2
        .sidebar.content-box(style='display: block;')
            ul.nav
                // Main menu
                li.current
                    a(href='index.html')
                        i.glyphicon.glyphicon-home
                        |  Dashboard
                li
                    a(href='calendar.html')
                        i.glyphicon.glyphicon-calendar
                        |  Calendar
                li
                    a(href='stats.html')
                        i.glyphicon.glyphicon-stats
                        |  Statistics (Charts)
                li
                    a(href='tables.html')
                        i.glyphicon.glyphicon-list
                        |  Tables
                li
                    a(href='buttons.html')
                        i.glyphicon.glyphicon-record
                        |  Buttons
                li
                    a(href='editors.html')
                        i.glyphicon.glyphicon-pencil
                        |  Editors
                li
                    a(href='forms.html')
                        i.glyphicon.glyphicon-
                        |  Forms
    if step == 1
        .col-md-10
            .row.bs-wizard(style='border-bottom:0;')
                .col-xs-3.bs-wizard-step.active
                    .text-center.bs-wizard-stepnum Step 1
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center Izbira ponavljajočega korenjskega elementa
                .col-xs-3.bs-wizard-step.disabled
                    // complete
                    .text-center.bs-wizard-stepnum Step 2
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                        | 2
                .col-xs-3.bs-wizard-step.disabled
                    // complete
                    .text-center.bs-wizard-stepnum Step 3
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                        | 3
                .col-xs-3.bs-wizard-step.disabled
                    // active
                    .text-center.bs-wizard-stepnum Step 4
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                        | 4
            .row
                .col-lg-3
                        h4.panel-title
                            span Izberi globino drevesa #{i}
                        .form-group
                                select.form-control(name='levels')
                                    each obj, i in xmlElements
                                        option(value=i) Globina #{i}

                        h4.panel-title
                            span Izberi ponavljajoči korenjski element #{i}
                        .form-group
                            select.form-control(name='elements')
                                each obj, i in xmlElement0
                                    option(value=obj.parentElement) #{obj.element}
                        a.btn.btn-default.btn1 Naprej
                .col-lg-9
                    pre.prettyprint.lang-xml(id="xmlData")
                        | #{xml}
    if step == 2
        .col-md-10
            .row.bs-wizard(style='border-bottom:0;')
                .col-xs-3.bs-wizard-step.complete
                    .text-center.bs-wizard-stepnum Step 1
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                .col-xs-3.bs-wizard-step.active
                    // complete
                    .text-center.bs-wizard-stepnum Step 2
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                        | Izbira elementov
                .col-xs-3.bs-wizard-step.disabled
                    // complete
                    .text-center.bs-wizard-stepnum Step 3
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                .col-xs-3.bs-wizard-step.disabled
                    // active
                    .text-center.bs-wizard-stepnum Step 4
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
            .row
                .col-lg-4
                    .row
                        each value, key in elementData
                            br
                            br
                            | #{key}
                            br
                            each obj in value
                                a(style="width:50%;overflow: hidden", data-element=obj.element, data-parentElement=obj.parentElement.element ).btn.btn-default.btn-element
                                    | #{obj.element}

                    .row
                        br
                        br
                        each value, key in elementDataMultiple
                                -for (var i = 0; i < value.length; i++)
                                    |  #{key + " " + i}
                                    br
                                    each obj in value.elements
                                        if(obj.parentIndex == i)
                                            a(style="width:50%;overflow: hidden" data-element=obj.element, data-parentElement=obj.parentElement.element, data-parentIndex = obj.parentIndex).btn.btn-default.btn-element
                                                | #{obj.element}
                                    br
                                    br
                    .row
                        br
                        br
                        a(style="width:100%;overflow: hidden;").btn.btn-default.btn2 Naprej
                .col-lg-8
                    pre.prettyprint.lang-xml
                        |#{xml}

    if step == 3
        .col-md-10
            .row.bs-wizard(style='border-bottom:0;')
                .col-xs-3.bs-wizard-step.complete
                    .text-center.bs-wizard-stepnum Step 1
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                .col-xs-3.bs-wizard-step.complete
                    .text-center.bs-wizard-stepnum Step 2
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                .col-xs-3.bs-wizard-step.active
                    .text-center.bs-wizard-stepnum Step 3
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                        | Povezava podatkov
                .col-xs-3.bs-wizard-step.disabled
                    .text-center.bs-wizard-stepnum Step 4
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
            each obj in selectedElements
                .row
                    .col-lg-2
                    .col-lg-2
                        .form-group
                            label
                                if obj.parentIndex
                                    small #{obj.parentElement} #{obj.parentIndex}
                                    br
                                    | #{obj.element}
                                else
                                    small #{obj.parentElement}
                                    br
                                    | #{obj.element}
                            //input.form-control.element-data(type="text",placeholder=obj.element, data-element=obj.element, data-parentelement=obj.parentElement, data-parentindex = obj.parentIndex)
                    .col-lg-6
                        .form-group
                            select.element-data.form-control(name='keys', style="width:50%", data-element=obj.element, data-parentElement=obj.parentElement, data-parentIndex = obj.parentIndex)
                                each obj, i in csvElementKeys
                                    option(value=i) #{obj}
                    .col-lg-2
            .col-lg-4
            .col-lg-6
                .row
                    a(style="width:50%;overflow: hidden;").btn.btn-default.btn3 Naprej
            .col-lg-2
    if step == 4
        .col-md-10
            .row.bs-wizard(style='border-bottom:0;')
                .col-xs-3.bs-wizard-step.complete
                    .text-center.bs-wizard-stepnum Step 1
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                .col-xs-3.bs-wizard-step.complete
                    .text-center.bs-wizard-stepnum Step 2
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                .col-xs-3.bs-wizard-step.active
                    .text-center.bs-wizard-stepnum Step 3
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
                        | Povezava podatkov
                .col-xs-3.bs-wizard-step.disabled
                    .text-center.bs-wizard-stepnum Step 4
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='#')
                    .bs-wizard-info.text-center
            .row
                pre.prettyprint.lang-xml(id="xmlData")
                    | #{xml}
    if step == 0
        .col-lg-1
        .col-lg-4
            form(action="/xmlcombiner?step=0", method="POST", encType="multipart/form-data")
                br
                div.input-group
                    label.input-group-btn
                        span.btn.btn-primary
                            | Izberi CVS&hellip;
                            input(type="file", name="csvFile", style="display: none;")
                    input.form-control(type="text" readonly)
                br
                div.input-group
                    label.input-group-btn
                        span.btn.btn-primary
                            | Izberi XML&hellip;
                            input(type="file", name="xmlFile", style="display: none;")
                    input.form-control(type="text" readonly)
                br
                input(type="submit", value="Nadaljuj z čarovnikom").btn.btn-default

        .col-5


block script_block
    script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
    script(src="/static/js/xmlcombiner.js")
